/*OldalBeállításokStart*/
/*FontokStart*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Merriweather+Sans:wght@700&display=swap');

/*font-family: 'Alkatra', cursive;
font-family: 'Merriweather Sans', sans-serif;*/
/*FontokEnd*/
/*GombokStart*/
#back-to-top {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #b6b6b652;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #b6b6b6c7;
}

.btn {
    margin-top: 4rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

/*GombokEnd*/
/*ReszponzivitásStart*/
@media screen and (max-width: 1800px) {
    html {
        font-size: 100%;
    }

    #back-to-top {
        width: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 75%;
    }

    #back-to-top {
        width: 75px;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 65%;
    }

    #back-to-top {
        width: 65px;
    }

    .ham {
        width: 40px;
        justify-items: end;
    }

    .navbar-button {
        display: contents;
        margin: auto;
        justify-content: end;
    }

    #nevem {
        width: 10px;
    }

    .navbar-logo {
        width: 40px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .navbar-nav .nav-link {
        display: inline-block;
        margin: 5px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    }

    .FoOldal__mouse-scroll-cont {
        display: none
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }

    #back-to-top {
        width: 55px;
    }

    .FoOldal-header {
        /*background-color: rgba(0, 0, 0, 0.3);
        color: rgb(59, 59, 59);
        border: 3px solid #666666;
        border-radius: 10px;*/
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 20px;
        text-align: center;
    }

}

@media only screen and (max-width: 400px) {
    .ham {
        width: 40px;
    }

    .navbar-button {
        display: contents;
        margin: auto;
    }
}

/*ReszponzivitásEnd*/
/*OldalBeállításokEnd*/

/*NavbarStart*/
.navbar {
    background-color: white;
    box-shadow: 1px 1px 100px 20px rgb(160, 160, 160);
    font-family: 'Alkatra', cursive;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 130;
}

.ham .middle {
    stroke-dasharray: 40 140;
}

.ham .bottom {
    stroke-dasharray: 40 205;
}

.ham.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham.active .middle {
    stroke-dashoffset: -102px;
}

.ham.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}

.nav-logo {
    pointer-events: none;
    margin: 20px;
    margin-right: 35px;
    width: 5rem;
    box-shadow: 5px 5px 10px rgb(119, 119, 119);
    border-radius: 10px;
}

#nevem {
    cursor: default;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-link {
    margin-inline: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

nav a.active {
    color: rgb(0, 218, 0) !important;
    animation: NavActFadIn 0.4s forwards;
}

@keyframes NavActFadIn {
    0% {
        border-bottom: 0px solid #000;
    }

    100% {
        border-bottom: 1px solid #000;
    }
}

.nav-link:hover {
    color: rgba(0, 218, 0, 0.534);
    animation: NavBtnClrHov 0.4s forwards;
}

@keyframes NavBtnClrHov {
    from {
        color: rgba(0, 0, 0, 0.65);
    }

    to {
        color: rgb(0, 218, 0);
    }
}

/*NavbarEnd*/

/*FőoldalStart*/

.FoOldal-bg {
    background-image: url("src/bg2.png");
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    width: 1px fit-content;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#FoOldal {
    cursor: default;
    font-family: 'Merriweather Sans', sans-serif;
    word-spacing: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.200);
    box-shadow: 1px 1px 50px 20px rgb(168, 168, 168);
}

.FoOldal-header {
    /*background-color: rgba(0, 0, 0, 0.3);
    color: rgb(59, 59, 59);
    border: 3px solid #666666;
    border-radius: 10px;*/
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
    text-align: center;
}

.FoOldal-header-koszontes {
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.FoOldal-content {
    margin-top: 50px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.FoOldal__mouse-scroll-cont {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.mouse {
    width: 40px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden
}

.mouse::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 40px
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 40px
    }
}

.FoOldal-oldalSoc {
    background-color: #666666;
    position: absolute;
    top: 50%;
    border-radius: 0%;
    transform: translateY(-50%);
    background-color: rgba(110, 110, 110, 0.9);
    /*background: rgb(33, 37, 41);*/
    width: 65px;
}

.oldalSocbtn {
    width: 150px;
    margin: 20%;
    margin-block: 30%;
}

.oldalSocbtn-icon {
    width: 25%;
    border-radius: 10%;
}

.oldalSocbtn-icon:hover {
    box-shadow: 0px 0px 1px 8px rgba(0, 218, 0, 0.300);
}

@media (max-width: 1300px) {
    .FoOldal-oldalSoc {
        display: none;
    }
}

/*FőoldalEnd*/

/*RolamStart*/

#Rolam {
    background-color: #f1f1f1;
    cursor: default;
    word-spacing: 1px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.200);
    box-shadow: 1px 1px 50px 20px rgb(168, 168, 168);
}

.Rolam-header {
    cursor: default;
    margin-top: 150px;
    text-align: center;
}

.Rolam-header-prim {
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.Rolam-header-sec {
    margin-top: 50px;
    font-size: 1.5rem;
    letter-spacing: 3.8px;
    text-transform: capitalize;
    font-family: 'Merriweather Sans', sans-serif;
    word-spacing: 0px;
}

.Rolam-left {
    cursor: default;
    margin-left: 20rem;
}

.Rolam-content-l {
    font-size: 1.3rem;
    text-align: justify;
}

.Rolam-content-l a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid black;
}

.Rolam-content-l p {
    text-indent: 30px;
    margin-bottom: 20px;
}

.Rolam-right {
    cursor: default;
    margin-left: 10rem;
}

.Rolam-content-r {
    display: flex;
    flex-wrap: wrap;
}

.skills {
    cursor: default;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    font-size: 1rem;
    background: rgba(153, 153, 153, .2);
    box-shadow: 0px 4px 1px 5px rgb(134, 134, 134);
    border-radius: 5px;
    font-weight: 700;
    color: #666;
}

.skills:hover {
    animation: SkillsFadeIn 0.5s forwards;
}

@keyframes SkillsFadeIn {
    from {
        color: #666;
        background: rgba(153, 153, 153, .2);
        box-shadow: 0px 4px 1px 5px rgb(134, 134, 134);
    }

    to {
        background: rgba(153, 153, 153, 0.582);
        box-shadow: 0px 4px 1px 5px rgb(211, 211, 211);
        color: black;
    }
}

/*RolamEnd*/

/*ProjektekStart*/
#Projektek {
    background-color: #f1f1f1;
    cursor: default;
    word-spacing: 1px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.200);
    box-shadow: 1px 1px 50px 20px rgb(168, 168, 168);
}

.Projektek-header {
    cursor: default;
    margin-top: 150px;
    text-align: center;
}

.Projektek-header-prim {
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.Projektek-header-sec {
    margin-top: 50px;
    font-size: 1.5rem;
    letter-spacing: 3.8px;
    text-transform: capitalize;
    font-family: 'Merriweather Sans', sans-serif;
    word-spacing: 0px;
}

/*ProjektekStart*/

/*ProjektekEnd*/


/*KapcsolatStart*/
#Kapcsolat{
    background-color: #f1f1f1;
    cursor: default;
    word-spacing: 1px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.200);
    box-shadow: 1px 1px 50px 20px rgb(168, 168, 168);
}
.Kapcsolat-header{
    cursor: default;
    margin-top: 150px;
    text-align: center;
}
/*KapcsolatEnd*/

/*FooterStart*/
.FoOldal-footer {
    color: white;
    background-color: black;
}

.FoOldal-footer__header {
    margin-left: 30px;
}

.FoOldal-footer__rovid-leiras {
    margin-left: 30px;
}

.FoOldal-footer-also {
    display: inline;
}

.FoOldal-footer-jobb {
    margin-left: auto;
}

.FoOldal-footer__social a {
    text-decoration: none;
}

.FoOldal-footer__icon {
    width: 40px;
    margin-inline: 15px;
    border-radius: 5%;
}

.FoOldal-footer__icon:hover {
    box-shadow: 0px 0px 1px 8px rgba(0, 218, 0, 0.400);
}

#mail {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/*FooterEnd*/